<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebServer" type="OpenNETCF.Web.Configuration.ServerConfigurationHandler, OpenNETCF.Web" />
    <section name ="httpRuntime" type ="OpenNETCF.Web.Configuration.HttpRuntimeConfigurationHandler, OpenNETCF.Web"/>
  </configSections>

  <WebServer
    DefaultPort="80"
    MaxConnections="20"
    DocumentRoot="\Inetpub\"
    Logging="false"
  >
    <DefaultDocuments>
      <Document>default.aspx</Document>
    </DefaultDocuments>

    <VirtualDirectories />
    <Cookies />
    <Caching />
  </WebServer>

  <httpRuntime
    maxRequestLength="4096"
    requestLengthDiskThreshold="256"
  />
</configuration>
