<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="WebServer" type="OpenNETCF.Web.Configuration.ServerConfigurationHandler, OpenNETCF.Web" />
        <section name ="httpRuntime" type ="OpenNETCF.Web.Configuration.HttpRuntimeConfigurationHandler, OpenNETCF.Web"/>
    </configSections>

    <!--   
  This specifies the default options for the Web Server. If
  you change this options, you must restart the server.
                    
      LocalIP:            : The local device IP to bind the PAdarn server to.  0.0.0.0 Will let Padarn select an IP
      DefaultPort         : The default port to server pages on. Use 80 for default normal browsing, 443 for default SSL
      MaxConnections      : The maximum number of concurrent connections
      DocumentRoot        : The location of the static pages to serve
      DefaultDocuments    : The list of default documents to display when a request does not specifiy a document.
      Logging             : Whether site visits are logged or not
      LogExtensions       : Semicolon-delimited list of file extensions to log
      UseSsl              : If SSL should be used
      CertificateName     : Fully qualified path to the SSL certificate file
      CertificatePassword : Password for the SSL certificate file
  -->    
    <WebServer
      LocalIP="0.0.0.0"
      DefaultPort="440"
      MaxConnections="20"
      DocumentRoot=".\www"
      Logging="true"
      LogFolder=".\www\Logs"
      LogExtensions="aspx;html;htm;zip"
      BrowserDefinitions="\Windows\Inetpub\config\browsers"
      CustomErrorFolder="\Windows\Inetpub\config\errors"
      UseSsl="true"
      SSLLicenseKey="CF800783C1470F8B65590ED84D29F0C2A0955FDDDCA399AFCF7A81E54788E81568357BAC037BD3462348B50E77F3CEEE731D07A3F52950B841AF425DA4A65E2815136080A37496C92D75A9E3012FAC820F92041BBF8AC6C2C82632DE211FDA654E5405A16777D360EE02B092A6A51F607FAC51C834DA4C03FB657766CBE075F3E4C4DB4AA9A95166E450F044A878C9FCCB49F24D92FB14C7422F91064C039BDCFF4A352E4E6084B3D492A8A31A103E735B6C377B64A91B98B6D5294953748CAE891A3AB0E5763B38EB893B59DCD2CA5DF010A3C8963131F63234E37BD0AE4AE630C3C5482CBDE8BB2F4BDC34DB87B850ACF657DA9F087401486F21F45B927105"
      CertificateName=".\www\certificate\server.pfx"
      CertificatePassword="Padarn"
  >
        <DefaultDocuments>
            <Document>default.aspx</Document>
        </DefaultDocuments>

        <Authentication Mode="Digest" Enabled="false" Realm="Solution Engine">
        </Authentication>

        <Security>
          <TLS10 Enabled="true"/>
          <TLS11 Enabled="true"/>
          <TLS12 Enabled="true"/>
          <CipherList>11,12,13</CipherList>
        </Security>
      
        <!-- 
      Configures a virtual directory mapping 
      
      VirtualPath           : Specifies the name of the virtual directory.
      PhysicalPath          : Specifies the absolute path to the physical path.
      RequireAuthentication : (optional) Specifies whether authentication is required. Default is false.
      -->
        <VirtualDirectories />

        <!-- 
      Configure a VirtualPathProvider 
      
      For each provider, add a new Provider element, specifying 
      the fully-qualifed name of the VirtualPathProvider type.
    
    -->
        <VirtualPathProviders />

        <!-- 
      Cookie Configuration (OPTIONAL)
      
      Domain          : [Required] The domain to associate with the cookie.
      RequireSSL      : [Optional] Indicates whether or not cookies require the use of SSL.
      HttpOnlyCookies : [Optional] Indicates whether or not the support for the browser's HttpOnly cookie is enabled.
    -->
        <!--<Cookies Domain="169.0.0.2" />-->

        <Caching />

        <httpHandlers />
        <!--<session allowSessionState="false" max="10" timeout="00:20:00" />-->
        
    </WebServer>

    <!--
  Configures ASP.NET HTTP run-time settings that determine how to process a request for an ASP.NET application.  For more details see http://msdn2.microsoft.com/en-us/library/e1f13641.aspx
  
  maxRequestLength            : Specifies the limit for the input stream buffering threshold, in KB. This limit can be used to prevent denial of service attacks that are caused, for example, by users posting large files to the server. 
  requestLengthDiskThreshold  : Specifies the limit for the input stream buffering threshold, in bytes. This value should not exceed the maxRequestLength attribute. 
  -->
    <httpRuntime
      maxRequestLength="4096"
      requestLengthDiskThreshold="256"
  />
</configuration>
