<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="WebServer" type="OpenNETCF.Web.Configuration.ServerConfigurationHandler, OpenNETCF.Web" />
        <section name ="httpRuntime" type ="OpenNETCF.Web.Configuration.HttpRuntimeConfigurationHandler, OpenNETCF.Web"/>
    </configSections>
    <WebServer
      DefaultPort="80"
      MaxConnections="10"
      DocumentRoot="\Flashdisk\nanoapp\Inetpub\"
      TempRoot="\SDMMC Card\Webserver Temp Directory"
      Logging="false"
      LogFolder="\SDMMC Card\Logs\Padarn"
      LogExtensions="aspx;html;htm;zip"
      BrowserDefinitions="\Flashdisk\nanoapp\Inetpub\config\browsers"
      UseSsl="false"
      CertificateName="\Flashdisk\nanoapp\Inetpub\certificate\server.pfx"
      CertificatePassword="gfhgfhd56fhr67f768un686b784d745"
 >
        <DefaultDocuments>
            <Document>default.aspx</Document>
        </DefaultDocuments>

        <Authentication Mode="digest" Enabled="true" Realm="nanoRaider webINTERFACE">
            <!--<Users>
                <User Name="admin" Password="admin" />
            </Users>-->
        </Authentication>

        <VirtualDirectories>
            <Directory VirtualPath="spectrum" PhysicalPath="\SDMMC Card\Spectrum\" RequireAuthentication="false"/>
            <Directory VirtualPath="voice" PhysicalPath="\SDMMC Card\Spectrum\Voice\" RequireAuthentication="false"/>
            <Directory VirtualPath="pictures" PhysicalPath="\SDMMC Card\Spectrum\Images\" RequireAuthentication="false"/>
            <Directory VirtualPath="system-logs" PhysicalPath="\SDMMC Card\Logs\System\" RequireAuthentication="false"/>
            <Directory VirtualPath="history-logs" PhysicalPath="\SDMMC Card\Logs\History\" RequireAuthentication="false"/>
            <Directory VirtualPath="manual" PhysicalPath="\SDMMC Card\Manual\" RequireAuthentication="false"/>
        </VirtualDirectories>

        <Cookies Domain="nanoRaider" />

        <Caching>
            <Profiles>
                <add extension=".bmp" location="Downstream" />
                <add extension=".css" location="Client" duration="00:01:00" />
                <add extension=".gif" location="Client" duration="00:05:00" />
                <add extension=".png" location="Client" duration="00:05:00" />
                <add extension=".jpg" location="Client" duration="00:05:00" />
                <add extension=".js" location="Client" duration="00:5:00" />
            </Profiles>
        </Caching>

    </WebServer>
    <httpRuntime maxRequestLength="4096" requestLengthDiskThreshold="256"/>
    <!--<httpRuntime maxRequestLength="16384" requestLengthDiskThreshold="4096"/>-->


</configuration>
